html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

.body {
	/* width: 80%; */

	/* margin: 0 auto; */
}

.container {
	display: flex;
	justify-content: space-between;
	background-color: rgb(3 3 32);
	align-items: center;
	padding: 20px;
	height: 20px;
	font-family: sans-serif;
	font-weight: 600;

	/* width: 100%; */
	line-height: 20px;

}

.container-1 {
	/* width: 80%; */

	/* margin: 0 auto; */
}


.freecode {
	height: 100%;
	width: 100%;
}

	.img-code {
		height: 40px;
		width: 210px;
}

.forum {
	display: flex;
	margin: 0 19px 0 0;
	font-family: sans-serif;
	padding: 7px 15px;
	font-size: large;
}

.donate {
	display: flex;
	background-color: goldenrod;
	color: black;
	font-size: 18px;
	padding: 0 15px;
	margin: 0 5px 0 auto;
	height: 30px;
	width: 60px;
	justify-content: center;
	align-items: center;

}

.head-left{
display: flex;
color: aliceblue;
gap: 50px;
padding-right: 20px;
}

.learn {
	display: flex;
	background-color: rgb(40 40 212);
	height: 44px;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 17px;
}

.search {
	display: flex;
	background-color: #3b3b4f;
	margin: 0 10px 0 30px;
	padding: 0 10px 0 30px;
	color: black;
	height: 26px;
	width: 430px;
}

button {
	background: none;
	border: none;
	outline: none;
}

input {
	background: none;
	border: none;
	outline: none;
	display: flex;
	font-family: sans-serif;
	font-size: 18px;
	padding: 0 10px;
}

.date {
	display: flex;
	font-size: small;
	font-family: sans-serif;
	padding: 10px;
}

a {
	color: black;
	text-decoration: none;
}

.learn:hover {
	color: rgb(6 6 87);
	text-decoration: underline;


}

.heading {
	width: 80%;
	margin: 0 auto;

}

.html {
	color: blue;
}

.front {
	display: flex;
	font-size: 45px;
	font-family: sans-serif;

}

.author {
	display: flex;
	width: 250px;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: larger;
	font-family: sans-serif;
	padding-top: 12px;
}


svg {
	width: 20px;
	height: 20px;
	color: wheat;
}


.name-img {
	display: flex;
	width: 50px;
	height: 50px;
	padding: 15px;

}

.name {
	display: flex;
	color: black;
	font-family: sans-serif;
	font-size: larger;

}

.beau {
	color: black;
}

.blog {
	display: flex;
	width: 80%;
	margin: 0 auto;
	height: auto;
	max-height: 800px;
	object-fit: cover;
}

.blog-img {
	width: 100%;
	height: 100%;
}

.content2 {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	font-family: sans-serif;
	font-size: 22px;
	gap: 50px;
	line-height: 20px;
}

.under-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
}

.under {
	font-size: 20px;
}

.thumnail-img-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.thumbnail {
	display: flex;
	width: 600px;
	height: 300px;

}


.unorder-list {
	list-style: disc;
	gap: 10px;
	padding: 0 20px;
	margin: 0 100px;
}

.unorder-list li {
	padding: 10px;
}

.blog-2 {
	width: 720px;
	height: 400px;
}

.teach {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	padding: 50px 0;
	border-bottom: solid 1px gray;
	border-top: solid 1px grey;
	margin-top: 30px;
}



.beau-img {
	display: flex;
	width: 90px;
	height: 90px;
	padding: 15px;
}

.teacher {
	display: flex;
	font-weight: 600;
	font-size: 20px;
	gap: 10px;
	padding: 10px 0;
	align-items: flex-start;
}

.teacher-name {
	display: flex;
	color: black;
	font-family: sans-serif;
	font-size: 15px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 34px;

}

.carnes {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 15px;
	font-family: sans-serif;
	flex-direction: column;
}

.write-up {
	display: flex;
	flex-direction: column;
	padding: 20px 0 0;
	margin: 20px 0 0;
	gap: 50px;
	font-size: 22px;
	
}

.tweet {
	display: flex;
	background-color: #cbcbf5;
	height: 20px;
	width: 190px;
	padding: 10px;
	border: solid black;
	outline: auto;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: large;
}



.get-started {
	display: flex;
	background-color: #cbcbf5;
	height: 20px;
	width: 190px;
	padding: 10px;
	border: solid black;
	outline: auto;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: large;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: #cbcbf5;

	/* width: 100%; */
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;
	padding: 25px 70px;
}

.footer-top {
	display: flex;
	justify-content: space-between;
}

.tax {
	display: flex;
	font-size: 18px;
	font-weight: 600;
}

.guides {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.div-left {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 50%;
	line-height: 1.8;
}

.ul-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.div-right {
	display: flex;
	width: 50%;
	height: 50%;
	justify-content: space-between;
}


.right-1, 
.right-2,
.right-3 {
	display: flex;
	height: 50%;
	flex-direction: column;
}

.list-item {
	display: flex;
	padding: 10px;
}

.footer-bottom {
	display: flex;
	border-top: 1px solid grey;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	width: 80%;

	/* margin: 20px; */
	font-family: sans-serif;
	font-size: 16px;

}

@media screen and (width <= 999px)  {
     .search {
		display: none;
	}
}

@media screen and (width <= 700px) {
	.blog-img {
		display: none;
	}

	.content2 {
		font-size: 19px;
	}
	
}

@media screen and (width <= 500px) {
	.forum {
		display: none;
	}

	.front {
		font-size: 2.2rem;
	}
	
}

@media screen and (width <= 1199px) {
	.footer-top {
		display: flex;

		/* background-color: red; */
		flex-direction: column;
		font-size: 19px;
	}

	.ul-wrapper{
		display: flex;
		justify-content: center;
	}
	
}

@media screen and (width <= 799px) {
	.ul-wrapper {
		background-color: red;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		width: 80%;
		min-height: 500px;
		margin: 0 auto;
		
	}

	.right-1, 
.right-2,
.right-3 {
	display: flex;
	height: 100%;
	flex-direction: column;
}

	.div-right {
		width: 100%;
	}
	
}

@media screen and (width <=499px) {
	.ul-wrapper {
	display: grid;
	grid-template-columns: 1fr;

	}

	body {
		font-size: small;

	}

	.footer-bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		line-break: 20px;
	}
	
}